{% extends 'base.html' %}
{% block content %}

<div class="mx-10">
    <a href="{% url 'crear' %}">
        <button class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Crear</button>
    </a>
</div>
<div class="flex items-center justify-center my-5">
    <div class="w-10/12">
        <div class="w-full relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <tr>
                    <th scope="col"> Codigo</th>
                    <th scope="col"> Nombre </th>
                    <th scope="col"> Comision </th>
                    <th scope="col"> CodigoASP </th> 
                    <th scope="col"> Estado</th> 
                    <th scope="col">Accion</th>
                </tr>
            </tr>
        </thead>
        <tbody>
            {% for corredor in corredores %}

 
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <td>
                    {{corredor.codigo}}
                </td>
                <td>
                    {{corredor.nombreCompleto}}
                </td>
                <td>
                    {{corredor.comision}}
                </td>
                <td>
                    {{corredor.codigoAPS}}
                </td>
                <td>
                    {% if corredor.isActive == 1 %}
                    Activo
                    {% else %}
                    INACTIVO
                    {% endif %}
                </td>
                <td>
                    <div >
                        <a href="{% url 'mostrar' corredor.id %}">
                            <button class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2 text-center">Mostar</button>
                        </a>
                        <a href="{% url 'actualizar' corredor.id %}">
                            <button class="text-white bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2 text-center">Modificar</button>
                        </a>

                        <a href="{% url 'eliminar' corredor.id %}">
                            <button class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2 text-center">Eliminar</button>
                        </a>
                    </div>
                </td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</div>

{% endblock %}